

  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
  }

  .icons a {
    color: #cdcdcd;
    font-size: 24px;
    width: 25px;
    display: block;
    transition: transform 0.3s ease, color 0.3s ease;
    /* Smooth transition */
  }

  /* Change social icons color to white when the card is active */
  .card.active .icons a {
    color: #fff;
    width: 25px;
    transition: transform 0.3s ease, color 0.3s ease;
    /* Smooth transition */
  }

  .icons a:hover {
    color: #666;
    /* Change hover color to a darker gray */
    transform: scale(1.2);
  }

  .profile-card {
    background: #fefeff;
    border-radius: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 50px;
    text-align: center;
    max-width: 486px;
    width: 100%;
  }
  
  .profile-image {
    width: 119px;
    height: 119px;
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 0 12px #f6f2ff;
  }
  
  h2 {
    font-size: 22px;
    font-weight: 700;
  }
  
  p {
    max-width: 214px;
    width: 100%;
    margin: 10px auto;
  }
  
  .button-container {
    display: flex;
    justify-content: space-around;
  }
  
  .follow-button,
  .message-button {
    border: none;
    padding: 15px 40px;
    border-radius: 35px;
    cursor: pointer;
    background: none;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-top: 25px;
    transition: background-color 0.3s ease; /* Smooth transition for button hover effect */
  }
  
  .follow-button {
    background: linear-gradient(to right, #fa3967, #fa9639);
  }
  
  .message-button {
    background: #ffedd2;
  }
  
  .follow-button:hover {
    background: linear-gradient(
      to right,
      #fa9639,
      #fa3967
    ); /* Reverse gradient on hover */
  }
  
  .message-button:hover {
    background: #ffe0b2; /* Lighten the background on hover */
  }
  
  .message-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    text-align: center;
  }
  
  .message-content textarea {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }
  
  .send-button {
    background: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .send-button:hover {
    background: #45a049;
  }
  
  @media (max-width: 520px) {
    .profile-card {
      width: 90%;
    }
  
    .button-container {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
  

 